.dashboard-container {
  display: flex;
  height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
  background-color: #7fa3d3; /* Gris muy suave nórdico */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.sidebar {
  width: 250px;
  background-color: #4d6599;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05); /* Sombra sutil para dar profundidad */
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.logo-area {
  padding: 25px 20px;
  border-bottom: 1px solid #33455f;
  text-align: center;
  color: #010102;
  margin-bottom: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu a {
  padding: 16px 25px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  background-color: #f8f9fa;
  color: #34495e;
}

/* Esta clase se activa automáticamente por el 'routerLinkActive' de Angular */
.menu a.active-link {
  background-color: #eef4fb; /* Azul muy pálido */
  color: #4a90e2; /* Azul destacado */
  border-left: 4px solid #4a90e2;
}

.content {
  flex: 1; /* Toma todo el espacio restante a la derecha */
  padding: 40px;
  overflow-y: auto; /* Agrega scroll si el inventario crece mucho */
}